@font-face {
    font-family: "Spotify Bold";
    src: url("fonts/CircularSpotify-UI-Latin-Bold.woff2");
}

@font-face {
    font-family: "Spotify Book";
    src: url("fonts/CircularSpotify-UI-Latin-Book.woff2");
}

:root {
    --color: #ffffff;
    --transition: 0.5s;
    --font-normal: "Spotify Book", sans-serif;
    --font-bold: "Spotify Bold", sans-serif;
    --margin-main: 8vh;
    --artwork-size: 68vh;
    --default-shadow: 0.5vh 0.5vh 0.5vh #00000044;
    --blur: 1vh;
}

html, body {
    margin: 0;
    overflow: hidden;
    background: black;
    color: var(--color);
    font-family: var(--font-normal);
    width: 100%;
    height: 100%;
    font-size: 2vh;
    line-height: 1.3;
    user-select: none;
    word-break: break-word;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.hide-cursor {
    cursor: none !important;
}

.transparent {
    opacity: 0 !important;
}

.no-colored-text {
    --color: #ffffff;
}

.text-grow {
    letter-spacing: -1vh;
}

* {
    box-sizing: border-box;
}

a, a:visited, a:hover, a:active {
    color: var(--color);
}

body.transition * {
    transition: opacity var(--transition),
        color var(--transition),
        background-color var(--transition),
        filter var(--transition);
}

img:not([src]) {
    visibility: hidden;
}

#dark-overlay {
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
}

#dark-overlay.show {
    opacity: 0.65;
}

#fps-counter {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 3vh;
    font-feature-settings: "tnum";
}

#fps-counter.show {
    display: initial;
}

#main {
    height: 100%;
}

#main.decreased-margins {
    --margin-main: 4vh;
}

#main.blur {
    filter: blur(var(--blur));
}

#main.maximum-artwork:not(.vertical) {
    --artwork-size: calc(100vh - (var(--margin-main) * 2));
}

#background-rendered, #prerender-canvas, #background-img, #background-img-crossfade, #background-canvas, #background-canvas-overlay, #background-canvas-img, #grain {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#background-img-crossfade {
    opacity: 0;
    transform: translateZ(0);
    will-change: opacity;
}

#prerender-canvas {
    display: none;
    z-index: -99;
    background: black;
    overflow: hidden;
    width: 100% !important;
    height: 100% !important;
}

#prerender-canvas * {
    transition: unset;
}

#prerender-canvas.show, #prerender-canvas.no-prerender {
    display: unset;
}

#prerender-canvas.no-prerender {
    z-index: unset;
    width: 100% !important;
    height: 100% !important;
}

#background-canvas {
    transform: scale(1.1);
    filter: brightness(35%);
}

#background-canvas-overlay {
    --background-color: black;
    background: var(--background-gradients), var(--background-color);
    --background-brightness: 0.5;
    --background-gradients:
        radial-gradient(circle, transparent 20%, #00000080 100%),
        linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, var(--background-brightness)) 100%);
    background-blend-mode: soft-light;
    opacity: var(--background-brightness);
}

#background-canvas-overlay.no-gradient {
    background: var(--background-color);
}

#background-canvas-overlay.no-tint {
    --background-brightness: 1 !important;
    background: var(--background-gradients);
    mix-blend-mode: multiply;
}

#background-canvas-overlay.no-gradient.no-tint {
    display: none;
}

#background-canvas.color-only #background-canvas-overlay.no-tint {
    --background-color: white !important;
    --background-brightness: 0.5 !important;
    background: var(--background-gradients), var(--background-color);
    mix-blend-mode: hard-light;
}

#background-canvas-overlay:not(.no-tint).brighter {
    opacity: calc(0.5 - var(--background-brightness));
}

#background-canvas-overlay:not(.no-tint).darker {
    background-blend-mode: hard-light;
}

#background-canvas-img {
    filter: blur(var(--blur)) grayscale(25%);
}

#background-img-crossfade.show {
    opacity: 1;
}

#background-canvas.color-only #background-canvas-img {
    opacity: 0 !important;
}

#background-canvas.color-only #background-canvas-overlay {
    opacity: 1 !important;
    background-blend-mode: unset !important;
}

#grain {
    opacity: 0;
    mix-blend-mode: screen;
    background: url('img/grain.png') repeat;
    --intensity: 1;
    transform: translateZ(0);
    will-change: opacity;
}

#grain.show {
    opacity: max(0.06, calc(var(--intensity) * 0.30));
}

#content {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: var(--margin-main);
    gap: var(--margin-main);
    align-items: end;
}

#main.vertical #content, #content.full-content {
    gap: initial;
}

#content-top {
    flex-direction: row;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    position: relative;
    max-height: var(--artwork-size);
}

#main.vertical #content-top {
    max-height: initial;
}

#content.full-content #content-top {
    max-height: calc(var(--artwork-size) + var(--margin-main));
}

#main.maximum-artwork:not(.vertical) #content-top {
    max-height: calc(var(--artwork-size) - (var(--margin-main) * 2));
}

#artwork {
    width: var(--artwork-size);
    height: var(--artwork-size);
    filter: drop-shadow(var(--default-shadow));
    overflow: hidden;
    margin: var(--margin-main);
}

#main.vertical #artwork {
    --artwork-size: 52vh;
    margin-left: auto;
    margin-right: auto;
}

#main.vertical #artwork.hide-timestamps.hide-info {
    --artwork-size: 59vh;
}

#artwork.hide {
    display: none;
}

#artwork-img {
    position: absolute;
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border: 0.2vh solid transparent;
    transform: scale(1.02) translateZ(0);
    will-change: opacity;
}

#artwork-img.show {
    opacity: 1;
}

#meta-left {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2vh;
}
#meta-left.hide {
    display: none;
}

#main.vertical #meta-left {
    max-width: 50vh;
}


#top-info.swap #meta-left {
    text-align: right;
    flex-direction: row-reverse;
    justify-content: end;
}

#thumbnail-wrapper {
    height: 6vh;
    width: 6vh;
    background-color: var(--color);
    box-shadow: 0.2vh 0.2vh 0.5vh #0004;
    display: none;
}

#thumbnail-wrapper.show {
    display: inherit;
}

#thumbnail {
    width: inherit;
    height: inherit;
}

#thumbnail.colored {
    mix-blend-mode: multiply;
    filter: grayscale(1);
}

#context {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div#context-main {
    --max-lines: 1;
}

#context-extra {
    opacity: 0.5;
}

#meta-right {
    text-align: right;
    position: relative;
    pointer-events: none;
}

#meta-right.hide {
    display: none;
}

#logo {
    -webkit-mask-image: url("img/symbols/spotify.png");
    -webkit-mask-size: contain;
    -webkit-mask-position: right;
    -webkit-mask-repeat: no-repeat;
    mask-image: url("img/symbols/spotify.png");
    mask-size: contain;
    mask-position: right;
    mask-repeat: no-repeat;
    height: 6vh;
    width: 6vh;
    background-color: #1DB954;
    opacity: 1;
}

#logo.colored {
    background-color: var(--color);
}

#center-info {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 100%;
    max-height: calc(var(--artwork-size) - 12vh);
}

#center-info.no-feat .feat {
    display: none;
}

#content.full-content #center-info {
    max-height: calc(var(--artwork-size) + 2vh);
}

#main.vertical #center-info {
    max-height: 24vh;
}

#main.maximum-artwork:not(.vertical) #center-info {
    max-height: calc(var(--artwork-size) - 26vh);
}

#center-info-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1vh;
    --font-scale: 1vh;
}

#main:not(.vertical) #center-info-main.big-text {
    --font-scale: 2vh;
}

#title {
    font-size: calc(var(--font-scale) * 6);
    font-weight: bold;
}

#main.vertical #title {
    margin: 0;
}

#title.force-display, #main.vertical #title {
    display: -webkit-box !important;
}

#artists {
    font-family: var(--font-normal);
    font-size: calc(var(--font-scale) * 4);
}

#title, #artists, #time-current, #time-total {
    font-family: var(--font-bold);
}

#title-extra.hide {
    display: none;
}

#album {
    display: flex;
    align-items: center;
    font-size: calc(var(--font-scale) * 3);
    gap: 1vh;
}

#album.hide {
    display: none;
}

#album-release {
    opacity: 0.65;
    word-break: normal;
}

#album-release::before {
    content: "(";
}

#album-release:after {
    content: ")";
}
#album-release:empty {
    display: none;
}

#album-title-extra.hide {
    display: none;
}

div#description {
    text-align: center;
    margin-bottom: 3vh;
    --max-lines: 10;
}

#description:empty, #main.vertical #description {
    display: none;
}

#track-list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: min-content;
    grid-gap: 0 2vh;
    max-width: 100%;
    scrollbar-width: thin;
    margin-top: 4vh;
    overflow-y: hidden;
    mask-repeat: no-repeat;
    font-size: var(--font-size);
    --font-size: clamp(2vh, calc(2vh + calc(var(--scale) * 0.1vh)), 3vh);
    --scale: 0;
    --gradient-height: 6vh;
    --gradient-top: white;
    --gradient-bottom: white;
    mask-image: linear-gradient(to bottom, var(--gradient-top) 0%, white var(--gradient-height),
        white calc(100% - var(--gradient-height)), var(--gradient-bottom)  100%);
}

#track-list:empty, #main.vertical #track-list {
    display: none;
}

#center-info.queue #track-list {
    mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
    height: 100%;
}

#track-list.show-discs {
    margin-top: 0 !important;
}

#track-list.fit {
    flex: 1;
}

#track-list.big-text {
    font-size: calc(var(--font-size) * 2);
}

#track-list.gradient-top {
    --gradient-top: transparent;
}

#track-list.gradient-bottom {
    --gradient-bottom: transparent;
}

#track-list .track-elem {
    display: contents;
}

#center-info:not(.queue) #track-list .track-elem:not(.disc) div {
    opacity: 0.5;
}

#center-info:not(.queue) #track-list:not(.scaling) .track-elem:not(.disc) div {
    transition: font-size var(--transition), opacity var(--transition);
}

#center-info:not(.queue) #track-list.enlarge-current .track-elem.current div {
    font-size: calc(var(--font-size) * 1.25);
}

#center-info:not(.queue) #track-list .track-elem.current div {
    opacity: 1;
}

#center-info.queue #track-list .track-elem:first-child div {
    will-change: opacity, font-size;
}

#center-info.queue #track-list .track-elem:first-child div.shrink,
#center-info.queue #track-list .track-elem:nth-child(n+20) > div {
    transition: opacity var(--transition), font-size var(--transition);
    opacity: 0;
    font-size: 0;
}

#track-list.show-tracklist-numbers .track-elem.disc div {
    opacity: 0.25;
    margin-top: 2vh;
}

#track-list.show-tracklist-numbers .track-elem.disc .disc-number {
    grid-column: 2 / 4;
    text-align: left;
}

#track-list.show-tracklist-numbers div:is(.track-number, .disc-symbol) {
    text-align: center;
    min-width: 3vh;
    font-feature-settings: "tnum";
}

#track-list:not(.show-tracklist-numbers) .track-number {
    display: none !important;
}

#track-list .track-elem .track-length {
    text-align: right;
    font-feature-settings: "tnum";
    white-space: nowrap;
}

#track-list.show-tracklist-numbers .track-artist {
    display: none !important;
}

#track-list .track-elem div:is(.track-artist, .track-name)  {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#track-list .track-elem div.track-name {
    font-family: var(--font-bold);
}

#track-list .track-elem div.track-length {
    margin-left: auto;
}

#track-list.strip .track-elem div.track-name span.extra {
    display: none;
}

#artists, #title, #description, #album, #context {
    transition: opacity var(--transition), letter-spacing var(--transition);
    will-change: opacity, letter-spacing;
}

#artists, #title, #description, #album-title, .track-name  {
    user-select: text;
}

#context-main, #artists, #album-title, #title, #description, #device,
#center-info:not(.queue) #track-list .track-elem.current div {
    --max-lines: 3;
    display: -webkit-box;
    -webkit-line-clamp: var(--max-lines);
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: unset;
}

#main.vertical :is(#artists, #title) {
    --max-lines: 1;
}

#info {
    width: calc(100% - var(--artwork-size) - var(--margin-main));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    gap: 4vh;
}

#content.full-content #info,
#main.vertical #info {
    width: 100%;
    gap: initial;
}

#top-info {
    display: flex;
    flex: 0;
    gap: 3vh;
}

#top-info.swap {
    flex-direction: row-reverse;
}

#main.vertical #top-info {
    justify-content: space-between;
}

#info-symbols {
    display: flex;
    height: 3vh;
    gap: 2vh;
}

#info-symbols.hide {
    display: none;
}

#info-symbols > div {
    height: 100%;
    width: 0;
    opacity: 0;
    display: none;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--color);
}

#info-symbols > div.show {
    display: initial;
    opacity: 0.65;
    width: 3vh;
}

#info-symbols > #shuffle {
    -webkit-mask-image: url("img/symbols/shuffle.png");
    mask-image: url("img/symbols/shuffle.png");
}

#info-symbols > #play-pause {
    -webkit-mask-image: url("img/symbols/play.png");
    mask-image: url("img/symbols/play.png");
}

#info-symbols > #play-pause.paused {
    -webkit-mask-image: url("img/symbols/pause.png");
    mask-image: url("img/symbols/pause.png");
    opacity: 1;
}

#info-symbols > #repeat {
    -webkit-mask-image: url("img/symbols/repeat.png");
    mask-image: url("img/symbols/repeat.png");
}

#info-symbols > #repeat.once {
    -webkit-mask-image: url("img/symbols/repeat-once.png");
    mask-image: url("img/symbols/repeat-once.png");
}

#volume {
    --volume: 0%;
    font-size: 3vh;
    font-feature-settings: "tnum";
    opacity: 0.2;
}
#volume:empty, #volume.hide {
    display: none;
}
#volume.active {
    opacity: 0.65;
}
#volume-text {
    white-space: nowrap;
}
#volume-text::before {
    content: "\1F50A\FE0E";
    padding-right: 1vh;
}
#volume-bar {
    position: relative;
    width: 100%;
    height: 0.3vh;
}
#volume-current, #volume-background {
    width: 100%;
    height: 100%;
    background: var(--color);
    position: absolute;
    border-radius: 0.5vh;
}
#volume-current {
    transition: width var(--transition);
    width: var(--volume);
}
#volume-background {
    opacity: 0.25;
}

div#device {
    --max-lines: 1;
    opacity: 0.2;
    font-size: 2vh;
}
#device:empty, #device.hide {
    display: none;
}
#device.active {
    opacity: 0.65;
}
#device::before {
    content: "\21AA\FE0E\FE0F\FE0E";
    padding-right: 1vh;
}

#progress {
    width: 100%;
    border-radius: 0.5vh;
    height: 0.5vh;
    max-height: 0.5vh;
    min-height: 0.5vh;
    position: relative;
    flex: 0 0 100%;
}

#progress.hide {
    display: none;
}

#progress-background {
    background-color: var(--color);
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    opacity: 0.25;
}

#progress-current {
    --progress-speed: 250ms;
    transition: width var(--progress-speed) linear, background-color var(--transition);
    background-color: var(--color);
    width: 0;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    z-index: 1;
}

#bottom-meta-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 4vh;
    position: relative;
    line-height: 1;
    align-items: start;
}

#content-bottom.reverse #bottom-meta-container {
    align-items: end;
}

#bottom-meta-container.hide-info #bottom-left {
    display: none;
}

#bottom-meta-container.hide-info #bottom-right {
    justify-content: space-between;
}

#bottom-meta-container.hide-timestamps :is(#bottom-right, #time-current) {
    display: none;
}

#bottom-meta-container.hide-timestamps.hide-info {
    display: none;
}

#bottom-left {
    display: flex;
    flex: 1;
    text-align: left;
    gap: 4vh;
    align-items: center;
    height: 100%;
}

#bottom-left.hide {
    display: none;
}

#bottom-right {
    display: flex;
    flex: 1;
    text-align: right;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
}

#time {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#content-bottom {
    display: flex;
    align-items: end;
    flex: 1;
    gap: 3vh;
    flex-direction: column;
    justify-content: end;
    width: 100%;
}

#main.maximum-artwork:not(.vertical) #content:not(.full-content) #content-bottom {
    max-width: calc(100% - var(--artwork-size) - var(--margin-main));
}

#content-bottom.reverse {
    flex-direction: column-reverse;
}

#time-current, #time-total {
    font-size: 4vh;
    font-feature-settings: "tnum";
    white-space: nowrap;
}

#time-current:empty, #time-total:empty {
    opacity: 0;
}

#bottom-meta-container:not(.spread-timestamps) #bottom-right #time-total::before {
    content: "/";
    opacity: 0.25;
    padding: 1.5vh;
}

#settings-menu-toggle-button {
    --offset: calc(var(--margin-main) / 2);
    width: var(--offset);
    height: var(--offset);
    left: calc(var(--offset) / -2);
    top: calc(var(--offset) / 2);
    position: absolute;
    -webkit-mask-image: url("img/symbols/cog.png");
    -webkit-mask-size: contain;
    -webkit-mask-position: right;
    -webkit-mask-repeat: no-repeat;
    mask-image: url("img/symbols/cog.png");
    mask-size: contain;
    mask-position: right;
    mask-repeat: no-repeat;
    opacity: 0;
    background-color: var(--color);
    z-index: 3;
    cursor: pointer;
    transition: opacity var(--transition), left var(--transition), transform var(--transition);
}

#settings-menu-toggle-button.show {
    opacity: 0.5;
    left: calc(var(--offset) / 2);
    transform: rotate(180deg);
    transition-duration: var(--transition);
}

#settings-menu-toggle-button:hover {
    opacity: 1;
}

#settings-wrapper {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    padding: var(--margin-main);
    background: linear-gradient(to right, black 0%, transparent 150%);
    opacity: 0;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    gap: var(--margin-main);
    pointer-events: none;
}

#settings-wrapper.show {
    opacity: 1;
    left: 0;
    pointer-events: auto;
}

#settings-wrapper > div {
    margin-left: -100vw;
    transition: opacity var(--transition), margin-left var(--transition), transform var(--transition);
}

#settings-wrapper.show > div {
    margin-left: 0;
}

#settings-wrapper::before {
    content: "Visual Preferences";
    position: absolute;
    left: calc(var(--margin-main) / 4);
    top: 0;
    bottom: 0;
    text-orientation: sideways;
    writing-mode: sideways-lr;
    margin: auto 0;
    text-align: center;
    letter-spacing: 2vh;
    opacity: 0.25;
    font-family: var(--font-bold);
}


#settings-wrapper.expert #settings-categories {
    display: flex;
}

#settings-wrapper.expert #settings-presets {
    display: none;
}

#settings-categories {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    font-family: var(--font-bold);
    flex-direction: row;
    font-size: 2vh;
    display: none;
    gap: 4vh;

    overflow: hidden;
    scrollbar-width: thin;
    mask-image: linear-gradient(to right, transparent 0%, white var(--mask-padding), white calc(100% - var(--mask-padding)), transparent 100%);
    padding: 0 var(--mask-padding);
    --mask-padding: 3vh;
}

#settings-categories .setting {
    width: min-content;
    opacity: 0.65;
    cursor: pointer;
    white-space: pre;
}

#settings-categories .setting.overridden,
#settings-categories .setting.overridden-1.overridden-2 {
    opacity: 0.25 !important;
}

#settings-categories .setting:hover {
    opacity: 1;
}

#settings-categories .setting::before {
    content: "\2713";
    margin-right: 1vh;
    opacity: 0;
}

#settings-categories .setting.on::before {
    opacity: 1;
}

#settings-categories .setting-category-header {
    font-size: 3vh;
    margin-bottom: 1vh;
}

#settings-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: var(--margin-main);
    position: relative;
}

#settings-presets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--margin-main);
    max-height: 100%;
    --image: "";
}

#settings-presets.hide {
    display: none;
}

#settings-presets > .preset {
    -webkit-mask-image: var(--image);
    -webkit-mask-size: contain;
    -webkit-mask-position: right;
    -webkit-mask-repeat: no-repeat;
    mask-image:  var(--image);
    mask-size: contain;
    mask-position: right;
    mask-repeat: no-repeat;
    background-color: var(--color);
    opacity: 0.5;
    cursor: pointer;
    width: calc(16vh * var(--preset-button-scale));
    height: calc(9vh * var(--preset-button-scale));
    --preset-button-scale: 2;
}

#settings-presets > .preset:hover {
    opacity: 1;
}

#settings-description {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 3vh;
    pointer-events: none;
    position: relative;
}

#settings-description > div {
    width: 100%;
    opacity: 0;
    overflow: visible;
    position: absolute;
    text-align: center;
}

#settings-description > div > div {
    width: 100%;
}

#settings-description > div > div:first-child {
    font-weight: bold;
    margin-bottom: 3vh;
    font-size: 6vh;
    font-family: var(--font-bold);
}

#settings-description div.show {
    opacity: 1;
}

#settings-expert-mode-toggle {
    position: absolute;
    top: 2vh;
    left: 8vh;
    opacity: 0.5;
    cursor: pointer;
    font-family: var(--font-bold);
}

#settings-expert-mode-toggle:hover {
    opacity: 1;
}

#settings-expert-mode-toggle::before {
    content: "\00BB";
    margin-right: 1vh;
    opacity: 0.5;
}

#clock-wrapper {
    text-align: center;
    font-weight: bold;
    opacity: 0.65;
    z-index: 1;
    font-size: 3vh;
    width: fit-content;
    height: min-content;
    line-height: 1;
}

#bottom-meta-container.hide-info #clock-wrapper {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

#clock.hide, #clock:empty {
    display: none;
}


@media only screen and (max-aspect-ratio: 3/2) {
    #artwork {
        margin-top: 12vh;
    }

    #info {
        user-select: none !important;
        width: 100%;
    }

    #center-info {
        max-height: 100%;
    }

    #settings-description {
        display: none;
    }

    #settings-presets {
        flex-direction: column;
    }

    #center-info:not(.queue) #track-list {
        overflow-y: auto;
    }

    #track-list {
        overflow-y: auto;
        padding-right: 2vh;
        mask-image: unset !important;
    }

    #track-list .track-elem div.track-name {
        white-space: unset;
        overflow: unset;
    }

    #content-bottom {
        flex-wrap: wrap;
        flex-direction: row;
    }

    #bottom-meta-container {
        gap: initial;
        flex-wrap: wrap;
    }

    #bottom-right:not(.stretch) #time-total::before {
        content: "";
        opacity: 0;
        padding: 0;
    }

    #settings-categories {
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
        mask-image: unset;
    }

    #settings-categories .setting-category {
        width: 100%;
    }
}
