@font-face {
    font-family: "Spotify Bold";
    src: url("fonts/CircularSpotify-UI-Latin-Bold.woff2");
}

@font-face {
    font-family: "Spotify Book";
    src: url("fonts/CircularSpotify-UI-Latin-Book.woff2");
}

:root {
    --color: #ffffff;
    --transition: 0.5s;
    --transition-long: 1s;
    --font-normal: "Spotify Book", sans-serif;
    --font-bold: "Spotify Bold", sans-serif;
    --margin-main: 8vh;
    --artwork-size: 68vh;
    --default-shadow: 0.5vh 0.5vh 0.5vh #00000044;
    --blur: 0.5vh;
}

html, body {
    margin: 0;
    overflow: hidden;
    background: black;
    color: var(--color);
    font-family: var(--font-normal);
    /* text-shadow: var(--default-shadow); */
    width: 100%;
    height: 100%;
    font-size: 2vh;
    line-height: 1.135;
    user-select: none;
    word-break: break-word;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.hide-cursor {
    cursor: none !important;
}

.transparent {
    opacity: 0 !important;
}

.no-colored-text {
    --color: #ffffff;
}

.text-glow {
    text-shadow: 0 0 6vh var(--color);
}

.one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

* {
    box-sizing: border-box;
}

a, a:visited, a:hover, a:active {
    color: var(--color);
}

body.transition * {
    transition: opacity var(--transition),
        color var(--transition),
        background-color var(--transition),
        filter var(--transition),
        text-shadow var(--transition-long);
}

img:not([src]) {
    visibility: hidden;
}

#dark-overlay {
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    pointer-events: none;
    opacity: 0;
}

#dark-overlay.show {
    opacity: 0.65;
}

#background-rendered, #prerender-canvas, #background-img, #background-img-crossfade, #background-canvas, #background-canvas-overlay, #background-canvas-img, #grain {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#background-img-crossfade {
    opacity: 0;
}

#prerender-canvas {
    display: none;
    z-index: -99;
    background: black;
    overflow: hidden;
    width: 50% !important;
    height: 50% !important;
}

#prerender-canvas.show, #prerender-canvas.no-prerender {
    display: unset;
}

#prerender-canvas.no-prerender {
    z-index: unset;
    width: 100% !important;
    height: 100% !important;
}

#background-canvas {
    transform: scale(1.3);
    filter: brightness(35%);
}

#background-canvas-overlay {
    --background-color: black;
    background: var(--background-gradients), var(--background-color);
    --background-brightness: 0.5;
    --background-gradients: radial-gradient(circle, transparent 20%, #00000080 100%), linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, var(--background-brightness)) 100%);
    background-blend-mode: soft-light;
    opacity: var(--background-brightness);
    transition: unset !important;
}

#background-canvas-overlay.brighter {
    opacity: calc(0.5 - var(--background-brightness));
}

#background-canvas-overlay.darker {
    background-blend-mode: hard-light;
}

#background-canvas-img {
    filter: blur(var(--blur)) grayscale(25%);
}

#background-img-crossfade.show {
    opacity: 1;
}

#background-canvas.color-only #background-canvas-img {
    opacity: 0 !important;
}

#background-canvas.color-only #background-canvas-overlay {
    opacity: 1 !important;
    background-blend-mode: unset !important;
}

#grain {
    opacity: 0;
    mix-blend-mode: screen;
    background: url('img/grain.png') repeat;
    --intensity: 1;
}

#grain.show {
    opacity: max(0.03, calc(var(--intensity) * 0.15));
}

#content {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: var(--margin-main);
    gap: var(--margin-main);
}

#content.blur {
    filter: blur(var(--blur));
}

#content-top {
    flex-direction: row;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    max-height: var(--artwork-size);
}

#artwork {
    width: var(--artwork-size);
    height: var(--artwork-size);
    filter: drop-shadow(var(--default-shadow));
    overflow: hidden;
}

#artwork-img {
    position: absolute;
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border: 0.2vh solid transparent;
    transform: scale(1.02);
}

#artwork-img.show {
    opacity: 1;
}

#meta-left {
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#meta-left.hide {
    opacity: 0;
}

#context-extra {
    opacity: 0.5;
}

#meta-right {
    text-align: right;
    position: relative;
    pointer-events: none;
}

#logo {
    -webkit-mask-image: url("img/symbols/spotify.png");
    -webkit-mask-size: contain;
    -webkit-mask-position: right;
    -webkit-mask-repeat: no-repeat;
    mask-image: url("img/symbols/spotify.png");
    mask-size: contain;
    mask-position: right;
    mask-repeat: no-repeat;
    background-color: var(--color);
    height: 6vh;
    width: 6vh;
    opacity: 0.65;
}

#logo.spotify-green {
    background-color: #1DB954;
    opacity: 1;
}

#center-info {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    max-height: calc(var(--artwork-size) - 6vh);
}

#center-info.queue {
    padding-top: 4vh;
}

#center-info-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 6vh;
    font-weight: bold;
    margin: 1vh 0;
}

#title.force-display {
    display: initial !important;
}

#artists {
    font-family: var(--font-normal);
    font-size: 4vh;
}

#title, #artists, #time-current, #time-total {
    font-family: var(--font-bold);
}

#title-extra.hide {
    display: none;
}

#album {
    display: flex;
    align-items: center;
    font-size: 3vh;
    gap: 1vh;
}

#album-release {
    opacity: 0.65;
    word-break: normal;
}

#album-release::before {
    content: "(";
}

#album-release:after {
    content: ")";
}
#album-release:empty {
    display: none;
}

#album-title-extra.hide {
    display: none;
}

#description {
    text-align: center;
    margin-top: -6vh;
    margin-bottom: var(--margin-main);
}

#description:empty {
    display: none;
}

#track-list {
    display: grid;
    grid-template-columns: auto auto auto;
    scrollbar-width: thin;
    margin-top: 4vh;
    grid-gap: 0 2vh;
    overflow-y: hidden;
    mask-repeat: no-repeat;
    font-size: clamp(2vh, calc(1vh * var(--font-size)), 3vh);
    --font-size: calc(3 - ((var(--track-count) - 14) * 0.15));
    --track-count: 0;
    --gradient-height: 6vh;
    --gradient-top: white;
    --gradient-bottom: white;
    mask-image: linear-gradient(to bottom, var(--gradient-top) 0%, white var(--gradient-height),
        white calc(100% - var(--gradient-height)), var(--gradient-bottom)  100%);
}

#center-info.queue #track-list {
    mask-image: linear-gradient(to bottom, var(--gradient-top) 20%, transparent 100%);
    --track-count: 0 !important;
}

#center-info.queue #track-list .track-elem:nth-child(n+10) > div {
    display: none !important;
}

#track-list.fit {
    flex: 1;
}

#track-list.gradient-top {
    --gradient-top: transparent;
}

#track-list.gradient-bottom {
    --gradient-bottom: transparent;
}


#track-list .track-elem div {
    opacity: 0.5;
}

#center-info:not(.queue) #track-list .track-elem.current div {
    opacity: 1;
}

#center-info:not(.queue) #track-list .track-elem.current div.track-name {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: unset !important;
}

#track-list .track-elem {
    display: contents;
}

#track-list.show-tracklist-numbers .track-artist {
    display: none;
}

#track-list:not(.show-tracklist-numbers) .track-number {
    display: none;
}

#track-list .track-elem div:is(.track-number, .track-length) {
    text-align: right;
    font-feature-settings: "tnum";
}

#track-list .track-elem div:is(.track-artist, .track-name)  {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#track-list .track-elem div.track-name {
    font-family: var(--font-bold);
}

#track-list.strip .track-elem div.track-name span.extra {
    display: none;
}

#artists, #title, #description, #album-title, .track-name  {
    user-select: text;
}

#info {
    width: calc(100vw - var(--artwork-size) - (var(--margin-main) * 3));
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#top-info {
    display: flex;
    flex: 0;
    gap: 3vh;
}

#info-symbols {
    display: flex;
    height: 3vh;
    gap: 2vmin;
}

#info-symbols.hide {
    display: none;
}

#info-symbols > div {
    height: 100%;
    width: 0;
    opacity: 0;
    display: none;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: var(--color);
}

#info-symbols > div.show {
    display: initial;
    opacity: 0.65;
    width: 3vh;
}

#info-symbols > #shuffle {
    -webkit-mask-image: url("img/symbols/shuffle.png");
    mask-image: url("img/symbols/shuffle.png");
}

#info-symbols > #play-pause {
    -webkit-mask-image: url("img/symbols/play.png");
    mask-image: url("img/symbols/play.png");
}

#info-symbols > #play-pause.paused {
    -webkit-mask-image: url("img/symbols/pause.png");
    mask-image: url("img/symbols/pause.png");
    opacity: 1;
}

#info-symbols > #repeat {
    -webkit-mask-image: url("img/symbols/repeat.png");
    mask-image: url("img/symbols/repeat.png");
}

#info-symbols > #repeat.once {
    -webkit-mask-image: url("img/symbols/repeat-once.png");
    mask-image: url("img/symbols/repeat-once.png");
}

#volume {
    --volume: 0%;
    font-size: 3vh;
    font-feature-settings: "tnum";
    opacity: 0.2;
}
#volume:empty {
    display: none;
}
#volume.active {
    opacity: 0.65;
}
#volume-text {
    white-space: nowrap;
}
#volume-text::before {
    content: "\1F50A\FE0E";
    padding-right: 1vh;
}
#volume-bar {
    position: relative;
    width: 100%;
    height: 0.3vh;
}
#volume-current, #volume-background {
    width: 100%;
    height: 100%;
    background: var(--color);
    position: absolute;
    border-radius: 0.5vh;
}
#volume-current {
    transition: width var(--transition);
    width: var(--volume);
}
#volume-background {
    opacity: 0.25;
}

#device {
    opacity: 0.2;
    font-size: 2vh;
    white-space: nowrap;
}
#device:empty {
    display: none;
}
#device.active {
    opacity: 0.65;
}
#device::before {
    content: "\21AA\FE0E\FE0F\FE0E";
    padding-right: 1vh;
}

#progress {
    width: 100%;
    border-radius: 0.5vh;
    height: 0.5vh;
    min-height: 1px;
    position: relative;
    flex: 0 0 100%;
    /* filter: drop-shadow(var(--default-shadow)); */
}

#progress-background {
    background-color: var(--color);
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    opacity: 0.25;
}

#progress-current {
    --progress-speed: 250ms;
    transition: width var(--progress-speed) linear, background-color var(--transition);
    background-color: var(--color);
    width: 0;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    z-index: 1;
}

#bottom-left {
    display: flex;
    flex: 1;
    text-align: left;
    gap: 4vh;
    align-items: center;
}

#bottom-left.hide {
    display: none;
}

#bottom-right {
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#bottom-right.stretch {
    justify-content: space-between;
}

#time {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#content-bottom {
    display: flex;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    gap: 3vmin;
}

#time-current, #time-total {
    font-size: 4vh;
    font-feature-settings: "tnum";
    white-space: nowrap;
}

#time-current:empty, #time-total:empty {
    opacity: 0;
}

#bottom-right:not(.stretch) #time-total::before {
    content: "/";
    opacity: 0.25;
    padding: 1.5vh;
}

#settings-menu-toggle-button {
    --offset: calc(var(--margin-main) / 2);
    width: var(--offset);
    height: var(--offset);
    left: calc(var(--offset) / -2);
    top: calc(var(--offset) / 2);
    position: absolute;
    -webkit-mask-image: url("img/symbols/cog.png");
    mask-image: url("img/symbols/cog.png");
    opacity: 0;
    mask-size: contain;
    mask-position: right;
    mask-repeat: no-repeat;
    background-color: var(--color);
    z-index: 3;
    cursor: pointer;
    transition: opacity var(--transition), left var(--transition), transform var(--transition);
}

#settings-menu-toggle-button.show {
    opacity: 0.5;
    left: calc(var(--offset) / 2);
    transform: rotate(180deg);
    transition-duration: var(--transition);
}

#settings-menu-toggle-button:hover {
    opacity: 1;
}

#settings-wrapper {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    padding: var(--margin-main);
    background: linear-gradient(to right, black 0%, transparent 150%);
    opacity: 0;
    font-size: 3vh;
    display: flex;
    gap: var(--margin-main);
    pointer-events: none;
}

#settings-wrapper.show {
    opacity: 1;
    left: 0;
    pointer-events: auto;
}

#settings-wrapper::before {
    content: "Visual Preferences";
    position: absolute;
    left: calc(var(--margin-main) / 4);
    top: 0;
    bottom: 0;
    text-orientation: sideways;
    writing-mode: sideways-lr;
    margin: auto 0;
    text-align: center;
    letter-spacing: 2vh;
    opacity: 0.25;
    font-family: var(--font-bold);
}

#settings-buttons {
    width: min-content;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-bold);
    flex-direction: column;
    margin-left: -100vw;
    transition: opacity var(--transition), margin-left var(--transition), transform var(--transition);
}

#settings-wrapper.show > #settings-buttons {
    margin-left: 0;
}

#settings-buttons > div {
    width: min-content;
    opacity: 0.65;
    cursor: pointer;
    white-space: pre;
}

#settings-buttons > div:hover {
    opacity: 1;
}

#settings-buttons > div::before {
    content: "\2713";
    margin-right: 1vh;
    opacity: 0;
}

#settings-buttons > .on::before {
    opacity: 1;
}

#settings-description {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    font-size: 3vh;
    pointer-events: none;
}

#settings-description div {
    opacity: 0;
    overflow: visible;
    max-height: var(--margin-main);
    height: var(--margin-main);
}

#settings-description div.show {
    opacity: 1;
}


#clock-wrapper {
    position: absolute;
    bottom: 9vh;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    opacity: 0.65;
    z-index: 1;
    font-size: 2.6vh;
    width: fit-content;
    margin: 0 auto;
}

#clock.hide, #clock:empty {
    opacity: 0;
}

@media only screen and (max-aspect-ratio: 3/2) {
    #content {
        padding: calc(var(--margin-main) / 2);
    }

    #info {
        user-select: none !important;
    }

    #artwork, #clock-wrapper, #top-info {
        display: none;
    }

    #info {
        width: 100%;
    }

    #center-info {
        max-height: 100%;
    }

    #background-canvas {
        transform: scale(1.05);
    }

    #settings-description {
        justify-content: flex-start;
    }

    #settings-description div {
        max-height: 0;
    }

    #center-info:not(.queue) #track-list {
        overflow-y: auto;
    }

    #track-list .track-elem div.track-name {
        white-space: unset;
        overflow: unset;
    }
}
