
/* GLOBAL */

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden !important;
}

@font-face {
	font-family: "Gotham";
	src: url("Gotham Medium Regular.ttf");
}

:root {
	--image-transition: 0.5s;
	
	--text-color-default: 255, 255, 255;
	--text-color: var(--text-color-default);
	
	--color-full:    rgba(var(--text-color), 1.0);
	--color-strong:  rgba(var(--text-color), 0.85);
	--color-medium:  rgba(var(--text-color), 0.65);
	--color-weak:    rgba(var(--text-color), 0.25);
	--color-weakest: rgba(var(--text-color), 0.15);
}

html, body {
	margin: 0;
	overflow: hidden;
	background: black;
	color: var(--color-full);
	font-family: "Gotham", sans-serif;
	width: 100%;
	height: 100%;
	text-shadow: 4px 4px 8px #000000aa;
	user-select: none;
	font-size: 2vmin;
}

body.hidecursor {
	cursor: none !important;
}

body.nocoloredtext {
	--text-color: 255, 255, 255;
	--color-full:    rgba(var(--text-color), 1.0);
	--color-strong:  rgba(var(--text-color), 0.85);
	--color-medium:  rgba(var(--text-color), 0.65);
	--color-weak:    rgba(var(--text-color), 0.25);
	--color-weakest: rgba(var(--text-color), 0.15);
}

* {
	/* border: 1px solid blue; */
	box-sizing: border-box;
}

.transition {
	transition: opacity var(--image-transition);
}


/* DARK OVERLAY */

#dark-overlay {
	background: black;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	pointer-events: none;
	opacity: 0;
}

#dark-overlay.show {
	opacity: 0.5;
}


/* BACKGROUND */

#background {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: cover !important;
	background-position: center !important;
	filter: blur(10px);
}

#background.scale {
 	transform: scale(1.05);
}

#background-img.scale, #background-img-crossfade.scale {
 	transform: scale(1.3);
}

#background-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	mix-blend-mode: hard-light;
	background: var(--background-gradients), var(--background-overlay-color);
	--background-overlay-color: white;
	--background-gradients: radial-gradient(circle, transparent 20%, #00000080 100%), linear-gradient(to bottom, transparent 0%, black 100%);
}

#background-img, #background-img-crossfade {
	width: 100%;
	height: 100%;
	image-rendering: crisp-edges;
	object-fit: cover;
	position: absolute;
	opacity: 0;
}

#background-img.show, #background-img-crossfade.show {
	opacity: 1;
}

#background-img.forcehide, #background-img-crossfade.forcehide {
	opacity: 0 !important;
}

#background.darken {
	opacity: 0.65;
}


/* MAIN */

#content, #top-info, #center-info, #bottom-info, #time, #info-symbols, #bottom-left {
	display: flex;
}

#content {
	flex-direction: column;
	justify-items: space-between;
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 6vmin;
}


/* TOP */

#top-info {
	flex-grow: 1;
	flex-direction: row;
	position: relative;
	margin-bottom: 1vmin;
}

#artwork {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: -1;
}

#artwork-img, #artwork-img-crossfade {
	position: absolute;
	width: auto;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	transform: translate(-50%, 0);
	object-fit: contain;
	--artwork-shadow: 0 0 10vmin 3vmin;
}

#artwork-img.noshadow {
	box-shadow: none !important;
}

#artwork-img-crossfade {
	z-index: 1;
	box-shadow: none !important;
	opacity: 0;
}

#artwork-img.show, #artwork-img-crossfade.show {
	opacity: 1;
}

@media only screen and (orientation:portrait) {
  #artwork-img {
    box-shadow: none !important;
  }
  
  #artworkglow {
  	display: none;
  }
}

#meta-left {
	flex: 1;
	order: 1;
	text-align: left;
	font-size: 2vmin;
	word-break: break-word;
}

#meta-left > #context {
	opacity: 0.8;
}

#meta-left > #device {
	margin-top: 1vmin;
	opacity: 0.5;
}

#meta-left > #volume {
	margin-top: 4vmin;
	height: calc(100% - 4vmin);
	width: 3vmin;
	background-color: var(--color-weakest);
	display: flex;
}

#meta-left > #volume > #volume-current {
	height: 0%;
	width: 100%;
	background-color: var(--color-strong);
	align-self: flex-end;
}

#meta-right {
	flex: 1;
	order: 3;
	text-align: right;
	position: relative;
}

#meta-right > #logo {
	height: 6vmin;
	mask-image: url("img/symbols/spotify.png");
	mask-size: contain;
	mask-position: right;
	mask-repeat: no-repeat;
	background-color: rgb(var(--text-color));
	opacity: 0.65;
}

#meta-right > #settings {
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 2vmin;
	line-height: 4vmin;
	opacity: 0;
}

#meta-right > #settings.show {
	opacity: 1;
}

#meta-right > #settings > .settings-header {
	padding-top: 2vmin;
	padding-bottom: 2vmin;
	font-size: 3vmin;
}

#meta-right > #settings > .settings-links > div > a {
	text-decoration: none;
	color: var(--color-medium);
	white-space: pre;
}

#meta-right > #settings > .settings-links > div > a:hover {
	color: var(--color-full);
}

#meta-right > #settings > .settings-links > .spacer {
	height: 2vmin;
}

#meta-right > #settings > .settings-links > #fullscreen {
	font-size: 3vmin;
}

#meta-right > #settings > .settings-links > div.preference-on:before {
	content: "\2713";
	margin-right: 1em;
}

/* CENTER */

#center-info {
	align-items: center;
	text-align: center;
	flex-direction: column;
	padding: 2vmin;
}

#title {
	font-size: 5vmin;
	margin-bottom: 0.5vmin;
}

#artists {
	font-size: 3vmin;
	color: var(--color-strong);
	margin-bottom: 0.5vmin;
}

#album {
	margin-top: 0.5em;
	font-size: 2vmin;
	color: var(--color-strong);
	opacity: 0.6;
}


/* BOTTOM */

#bottom-info {
	align-items: center;
	flex-direction: column;
}

#progress {
	background: var(--color-weakest);
	width: 100%;
	margin: 1em;
	border-radius: 0.5vmin;
}

#progress-current {
	background-color: var(--color-full);
	height: 0.5vmin;
	min-height: 1px;
	width: 0%;
	border-radius: 0.5vmin;
}

#progress-current.transition {
	transition: width 0.5s linear;
}

#bottom-left {
	flex: 1;
	text-align: left;
	order: 1;
}

#bottom-right {
	flex: 1;
	text-align: right;
	order: 3;
}

#time {
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

#time-current {
	font-size: 4vmin;
	color: var(--color-strong);
}

#time-total {
	font-size: 4vmin;
	color: var(--color-strong);
}

#info-symbols {
	flex: 1;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	order: 2;
}

#info-symbols > div {
	margin: 1em;
	height: 100%;
	width: 4vmin;
	opacity: 0.5;
	mask-size: contain;
	mask-repeat: no-repeat;
	background-color: rgb(var(--text-color));
}

#info-symbols > #shuffle {
	mask-image: url("img/symbols/shuffle.png");
}


#info-symbols > #pause {
	mask-image: url("img/symbols/pause.png");
	opacity: 0.9;
}

#info-symbols > #repeat {
	mask-image: url("img/symbols/repeat.png");
}

#info-symbols > #repeat.once {
	mask-image: url("img/symbols/repeat-once.png");
}
