
/* GLOBAL */

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden !important;
}

@font-face {
	font-family: "Gotham";
	src: url("Gotham Medium Regular.ttf");
}

:root {
	--color-1: #eee;
	--color-2: #ddd;
	--color-3: #888;
	--color-4: rgba(64, 64, 64, 0.8);
	--color-5: rgba(64, 64, 64, 0.2);
	--image-transition: 0.5s;
}

html, body {
	margin: 0;
	overflow: hidden;
	background: black;
	color: var(--color-1);
	font-family: "Gotham", sans-serif;
	width: 100%;
	height: 100%;
	text-shadow: 4px 4px 8px black;
	cursor: none;
	user-select: none;
}


a {
	text-decoration: none;
	color: var(--color-3);
	white-space: pre;
	cursor: pointer;
}

a:hover {
	color: var(--color-1);
}

* {
	/* border: 1px solid blue; */
	box-sizing: border-box;
}

.transition {
	transition: opacity var(--image-transition);
}

/* DARK OVERLAY */

#dark-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.5);
	z-index: 2;
	pointer-events: none;
}


/* BACKGROUND */

#background {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

#background-img {
	background: url(img/gradient.png);
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-blend-mode: soft-light, multiply;
	transform: scale(1.1);
	width: 100%;
	height: 100%;
	opacity: 0;
}

#background-img.blur {
	filter: blur(10px);
}

/* MAIN */

#content, #top-info, #center-info, #bottom-info, #time, #info-symbols, #bottom-left {
	display: flex;
}

#content {
	flex-direction: column;
	justify-items: space-between;
	box-sizing: border-box;
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 6vh;
}


/* TOP */

#artwork {
	flex: 1.2;
	order: 2;
	text-align: center;
	z-index: -1;
}

#artwork > #artwork-img {
	background: url(img/idle.png);
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: contain !important;
	width: auto;
	height: 100%;
	filter: drop-shadow(0px 0px 48px black);
	opacity: 0;
}

#top-info {
	flex-grow: 1;
	flex-direction: row;
}

#meta-left {
	flex: 1;
	order: 1;
	text-align: left;
	font-size: 2vh;
	word-break: break-word;
}

#meta-left > #playlist {
	opacity: 0.8;
}

#meta-left > #device {
	margin-top: 1vh;
	opacity: 0.5;
}

#meta-left > #volume {
	margin-top: 4vh;
	height: calc(100% - 4vh);
	width: 3vh;
	background-color: var(--color-5);
	display: flex;
}

#meta-left > #volume > #volume-current {
	height: 0%;
	width: 100%;
	background-color: var(--color-2);
	align-self: flex-end;
}

#meta-right {
	flex: 1;
	order: 3;
	text-align: right;
}

#meta-right > #logo {
	height: 5vw;
	background: url("img/symbols/spotify.png") right no-repeat;
	background-size: contain;
	filter: drop-shadow(0 0 1px var(--color-4));
}

#meta-right > #settings {
	width: 100%;
	height: auto;
	display: none;
}

#meta-right > #settings > .settings-header {
	padding-top: 2vmin;
}

#meta-right > #settings > .settings-links {
	white-space: pre-line;
	line-height: 2vmin;
}

#meta-right > #settings > .settings-links > a.preference-on:before {
	content: "\2713";
	margin-right: 1em;
}

/* CENTER */

#center-info {
	align-items: center;
	text-align: center;
	flex-direction: column;
	padding: 2vh;
}

#title {
	font-size: 5vh;
	margin-bottom: 0.5vh;
}

#artist {
	font-size: 3vh;
	color: var(--color-2);
	margin-bottom: 0.5vh;
}

#album {
	margin-top: 0.5em;
	font-size: 2vh;
	color: var(--color-2);
	opacity: 0.6;
}


/* BOTTOM */

#bottom-info {
	align-items: center;
	flex-direction: column;
}

#progress {
	background: var(--color-4);
	width: 100%;
	margin: 1em;
}

#progress-current {
	background-color: var(--color-1);
	height: 0.5vh;
	width: 0%;
}

#bottom-left {
	flex: 1;
	text-align: left;
	order: 1;
}

#bottom-right {
	flex: 1;
	text-align: right;
	order: 3;
}

#time {
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

#time-current {
	font-size: 4vh;
	color: var(--color-2);
}

#time-total {
	font-size: 4vh;
	color: var(--color-2);
}

#info-symbols {
	flex: 1;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	order: 2;
}

#info-symbols > div {
	margin: 1em;
	height: 100%;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	width: 4vh;
	opacity: 0.5;
}

#info-symbols > #shuffle {
	background: url("img/symbols/shuffle.png");
}


#info-symbols > #pause {
	background: url("img/symbols/pause.png");
	opacity: 0.9;
}

#info-symbols > #repeat {
	background: url("img/symbols/repeat.png");
}

#info-symbols > #repeat.once {
	background: url("img/symbols/repeat-once.png");
}
