
/* GLOBAL */

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden !important;
}

@font-face {
	font-family: "Gotham Medium";
	src: url("fonts/Gotham Medium Regular.ttf");
}

@font-face {
	font-family: "Gotham Light";
	src: url("fonts/Gotham Light.otf");
}

:root {
	--color: #ffffff;
	--transition: 0.5s;
}

html, body {
	margin: 0;
	overflow: hidden;
	background: black;
	color: var(--color);
	font-family: "Gotham Medium", sans-serif;
	width: 100%;
	height: 100%;
	text-shadow: 4px 4px 8px #000000aa;
	font-size: 2vmin;
	user-select: none;
}

body.hidecursor {
	cursor: none !important;
}

body.nocoloredtext {
	--color: #ffffff;
}

* {
	/* border: 1px solid blue; */
	box-sizing: border-box;
}

a, a:visited, a:hover, a:active {
	color: var(--color);
}

body.transition * {
	transition:
		opacity var(--transition),
		color var(--transition),
		background-color var(--transition),
		box-shadow var(--transition),
		width var(--transition) linear;
}

.skiptransition {
	transition: unset !important;
}


/* DARK OVERLAY (Blue Light Filter at 3400K and -25% brightness) */

#dark-overlay {
	background: rgb(191, 141, 101);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	pointer-events: none;
	opacity: 0;
	mix-blend-mode: multiply;
}

#dark-overlay.show {
	opacity: 1;
}


/* BACKGROUND */

#background {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: cover !important;
	background-position: center !important;
	filter: blur(10px);
}

#background.scale {
 	transform: scale(1.05);
}

#background-img.scale, #background-img-crossfade.scale {
 	transform: scale(1.3);
}

#background-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	mix-blend-mode: hard-light;
	background: var(--background-gradients), var(--background-overlay-color);
	--background-overlay-color: white;
	--background-gradients: radial-gradient(circle, transparent 20%, #00000080 100%), linear-gradient(to bottom, transparent 0%, black 100%);
}

#background-img, #background-img-crossfade {
	width: 100%;
	height: 100%;
	image-rendering: crisp-edges;
	object-fit: cover;
	position: absolute;
	opacity: 0;
}

#background-img.show, #background-img-crossfade.show {
	opacity: 1;
}

#background.coloronly #background-img, #background.coloronly #background-img-crossfade {
	opacity: 0 !important;
}

#background.darken {
	opacity: 0.65;
}


/* MAIN */

#content, #top-info, #center-info, #bottom-info, #time, #info-symbols, #bottom-left {
	display: flex;
}

#content {
	flex-direction: column;
	justify-items: space-between;
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 6vmin;
}


/* TOP */

#top-info {
	flex-grow: 1;
	flex-direction: row;
	position: relative;
	margin-bottom: 1vmin;
}

#artwork {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}

#artwork-img, #artwork-img-crossfade {
	position: absolute;
	width: auto;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	transform: translate(-50%, 0);
	object-fit: contain;
	--artwork-shadow: 0 0 10vmin 3vmin;
}

#artwork-img.noshadow {
	box-shadow: none !important;
}

#artwork-img-crossfade {
	z-index: 1;
	box-shadow: none !important;
	opacity: 0;
	pointer-events: none;
}

#artwork-img.show, #artwork-img-crossfade.show {
	opacity: 1;
}

@media only screen and (orientation:portrait) {
  #artwork-img {
    box-shadow: none !important;
  }
  
  #artworkglow {
  	display: none;
  }
}

#meta-left {
	flex: 1;
	order: 1;
	text-align: left;
	font-size: 2vmin;
	word-break: break-word;
	user-select: text;
}

#context {
	opacity: 0.8;
}

#device {
	margin-top: 1vmin;
	opacity: 0.5;
}

#meta-right {
	flex: 1;
	order: 3;
	text-align: right;
	position: relative;
	pointer-events: none;
}

#logo {
	-webkit-mask-image: url("img/symbols/spotify.png");
	-webkit-mask-size: contain;
	-webkit-mask-position: right;
	-webkit-mask-repeat: no-repeat;
	mask-image: url("img/symbols/spotify.png");
	mask-size: contain;
	mask-position: right;
	mask-repeat: no-repeat;
	background-color: var(--color);
	height: 6vmin;
	opacity: 0.65;
}

#settings {
	position: absolute;
	right: 0;
	width: min-content;
	height: 100%;
	font-size: 2vmin;
	line-height: 4vmin;
	opacity: 0;
	pointer-events: auto;
}

#settings.show {
	opacity: 1;
}

#settings > .settings-header {
	padding-top: 2vmin;
	padding-bottom: 2vmin;
	font-size: 3vmin;
}

#settings > .settings-links > div > a {
	text-decoration: none;
	opacity: 0.65;
	white-space: pre;
}

#settings > .settings-links > div > a:hover {
	opacity: 1;
}

#settings > .settings-links > .spacer {
	height: 2vmin;
}

#settings > .settings-links > #fullscreen {
	font-size: 3vmin;
}

#settings > .settings-links > div.preference-on:before {
	content: "\2713";
	margin-right: 1vmin;
}

/* CENTER */

#center-info {
	align-items: center;
	text-align: center;
	flex-direction: column;
	padding: 2vmin;
	user-select: text;
}

#title {
	font-size: 5vmin;
	margin-bottom: 0.5vmin;
}

#artists {
	font-size: 3vmin;
	margin-bottom: 1.5vmin;
	opacity: 0.85;
}

#album {
	font-size: 2vmin;
	opacity: 0.65;
}

#album-release {
	margin-left: 0.5em;
}
#album-release::before {
	content: "(";
}
#album-release::after {
	content: ")";
}
#album-release:empty {
	display: none;
}


/* BOTTOM */

#bottom-info {
	align-items: center;
	flex-direction: column;
}

#progress {
	width: 100%;
	margin: 2vmin;
	border-radius: 0.5vmin;
	height: 0.5vmin;
	min-height: 1px;
	position: relative;
}

#progress-background {
	background-color: var(--color);
	width: 100%;
	height: 100%;
	border-radius: inherit;
	position: absolute;
	opacity: 0.25;
}

#progress-current {
	background-color: var(--color);
	width: 0%;
	height: 100%;
	border-radius: inherit;
	position: absolute;
}

#bottom-left {
	flex: 1;
	text-align: left;
	order: 1;
}

#bottom-right {
	flex: 1;
	text-align: right;
	order: 3;
}

#time {
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

#time-current, #time-total {
	font-size: 4vmin;
	opacity: 0.85;
}

#info-symbols {
	flex: 1;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	order: 2;
}

#info-symbols > div {
	margin: 1vmin;
	height: 100%;
	width: 4vmin;
	opacity: 0.5;
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-size: contain;
	mask-repeat: no-repeat;
	background-color: var(--color);
}

#info-symbols > #shuffle {
	-webkit-mask-image: url("img/symbols/shuffle.png");
	mask-image: url("img/symbols/shuffle.png");
}

#info-symbols > #pause {
	-webkit-mask-image: url("img/symbols/pause.png");
	mask-image: url("img/symbols/pause.png");
	opacity: 0.9;
}

#info-symbols > #repeat {
	-webkit-mask-image: url("img/symbols/repeat.png");
	mask-image: url("img/symbols/repeat.png");
}

#info-symbols > #repeat.once {
	-webkit-mask-image: url("img/symbols/repeat-once.png");
	mask-image: url("img/symbols/repeat-once.png");
}
