* {
    box-sizing: border-box;
}

html, body {
    background: black;
    margin: 0;
    padding: 0;
    color: #ddd;
    font-family: 'Consolas', 'Lucida Console', 'Courier New', monospace;
    font-size: 3vmax;
    width: 100%;
    height: 100%;
    user-select: none;
    word-break: break-word;
}

body {
    padding: 2vmax;
}

header {
    text-align: center;
    margin-bottom: 2vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > div {
    margin: 1vmax 0;
}

#headline {
    font-weight: bold;
    font-size: 4vmax;
}

#subtitle {
    font-size: 3vmax;
    opacity: 0.5;
}

#description-toggle {
    font-size: 2vmax;
    opacity: 0.5;
    cursor: pointer;
    text-decoration: line-through;
    background-color: #222;
    padding: 1vmax;
    border-radius: 1vmax;
    width: fit-content;
}

#description-toggle:hover {
    opacity: 1;
}

#description-toggle.on {
    text-decoration: unset;
}

#settings {
    display: flex;
    flex-direction: column;
    gap: 1vmax;
    max-width: 100%;
}

#settings.expand {
    flex-wrap: wrap;
}

#settings .setting-category {
    background-color: #222;
    padding: 1vmax;
    border-radius: 1vmax;
    text-align: center;
    transition: opacity 0.1s;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    display: flex;
}

#settings .setting-category:not(.expand) div:not(.setting-category-header) {
    display: none;
}

#settings .setting {
    cursor: pointer;
    opacity: 0.5;
    margin: 1vmax;
}

#settings .setting:hover {
    opacity: 1;
}

#settings .setting.disabled {
    cursor: wait;
    opacity: 0.1;
}

#settings .setting-category .setting-category-header {
    cursor: pointer;
    font-size: 4vmax;
    font-weight: bold;
    opacity: 0.5;
}
#settings .setting-category .setting-category-header:hover,
#settings .setting-category.expand .setting-category-header {
    opacity: 1;
}

#settings .setting-category .setting-description {
    display: none;
    font-size: 1.25vmax;
    opacity: 0.65;
    text-align: justify;
    text-align-last: center;
}

#settings.show-descriptions .setting-category .setting-description {
    display: block;
}
