#lyrics {
    cursor: pointer;
    white-space: pre-line;
    font-size: 2vmin;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    width: fit-content;
    max-width: 100%;
    max-height: 100%;

    --mask-padding: 2vmin;
    --scroller-gradient: linear-gradient(to bottom, transparent 0%, white var(--mask-padding), white calc(100% - var(--mask-padding)), transparent 100%);
    -webkit-mask-image: var(--scroller-gradient);
    mask-image: var(--scroller-gradient);
    padding: var(--mask-padding);
    scrollbar-width: thin;
    scrollbar-color: var(--color) transparent;
    transition: scrollbar-color var(--transition);
    scrollbar-gutter: stable;
}

#lyrics.xl {
    font-size: 3vmin;
}

#lyrics.dim {
    opacity: 0.65;
}

#lyrics.max-width {
    width: 100%;
    max-width: 100% !important;
}

#lyrics.hide, #lyrics:empty {
    display: none;
}